
.container {
    width: 80%;
    margin: 0 auto;
  }
  .contact {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  .block {
    display: inline-block;
  }
  
 